:root{
    --mainColor:#0D0D0D;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--mainColor) ;
    color: white;
    position: relative;
   
}

.nav-bar{
    left: 0px;
    z-index: 99;
}




nav i{
    cursor: pointer;
}

.over-layer{
    background-color: rgba(0,0,0,0.6);
   display: none;
}

.img-fluid{
    transition: all .5s;
}
.over-view:hover .img-fluid{
    transform: rotate(5deg) scale(1.5);
}

/* Start Spinner */
.loading{
    position: fixed;
    z-index: 99999;
    inset: 0;
    inset: 0;
    background-color: #272b30e3;
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
/* End Spinner */


/* start up icon */
.up-icon-container{
    height: 40px;
    width: 40px;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    display: none;
}
/* end up icon */


input:focus{

   border-bottom:1px solid gray !important;
  
}

form button:hover{
    background-color: white !important;
    color: black !important;
}


